<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="bg-red-100 text-4xl book-details-page">
    <%- include('./partials/navHeader.ejs') %>
    <h1 class="text-4xl my-4""><%= book.title %></h1>
    <h2>By: <%= book.author.name %></h2>
    <p class="book-summary">
      <%= book.summary %>
    </p>
    <p class="book-isbn">
      <%= book.isbn %>
    </p>
    <div class="genre">
      <h3 class="genre-heading">Genre:</h3>
      <ul>
        <% if (book.genre.length > 0) { %>
          <% book.genre.forEach(genre => { %>
            <li><%= genre.name %></li>
            <% })}; %>
      </ul>
    </div>
    <div class="copies-in-stock">
      <h3 class="in-stock">Books in Stock:</h3>
      <ul>
      <% if (book_instances.length > 0) { %>
        <% book_instances.forEach(book => { %>
          <li><% book.title %> Will add status here.</li>
        <% }); %>
      <% } %>
      </ul>
    </div>
  </body>
</html>