<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body class="bg-red-100 text-4xl">
    <h1 class="text-4xl my-4""><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>The current number of books is <%- book_count %> </p>
    <p>The current number of authors is <%- author_count %> </p>
  </body>
</html>
